spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:insurance_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
  profiles:
    active: dev

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.portfolio.insurance: INFO

---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    show-sql: true
